* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kristi', cursive;
}

.shoe {
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 99;
}

.toshoe {
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 30px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
}

#toshoe1 {
    background-color: #874D55;
}

#toshoe2 {
    background-color: #43C93E;
}

#toshoe3 {
    background-color: #6E8C00;
}

.shoe img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
}
#shoe1 {
    /* background-color: #72874D ; */
    background-color: #EDC7b7;
    /* color: #874D55; */
    color: #AC3B61;
}

#shoe2 {
    background-color: #BAB2B5;
    color: #123C69;
}

#shoe3 {
    background-color: #AC3B61;
    color: #EDC7b7;
}


.text {
    font-size: 11vh;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70vh;
    margin: 0 35%;
}